In [1]:
print ("Starting Customer churn project")

Starting Customer churn project

In [4]:
import sys
sys.executable

'c:\\coding\\aiml\\.venv\\Scripts\\python.exe'

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/churn.csv")
df.head

<bound method NDFrame.head of      Customer ID  Gender  Age Under 30 Senior Citizen Married Dependents  \
0     8779-QRDMV    Male   78       No            Yes      No         No
1     7495-OOKFY  Female   74       No            Yes     Yes        Yes
2     1658-BYGOY    Male   71       No            Yes      No        Yes
3     4598-XLKNJ  Female   78       No            Yes     Yes        Yes
4     4846-WHAFZ  Female   80       No            Yes     Yes        Yes
...          ...     ...  ...      ...            ...     ...        ...
7038  2569-WGERO  Female   30       No             No      No         No
7039  6840-RESVB    Male   38       No             No     Yes        Yes
7040  2234-XADUH  Female   30       No             No     Yes        Yes
7041  4801-JZAZL  Female   32       No             No     Yes        Yes
7042  3186-AJIEK    Male   44       No             No      No         No

      Number of Dependents        Country       State  ...  \
0                        0  United States  California  ...
1                        1  United States  California  ...
2                        3  United States  California  ...
3                        1  United States  California  ...
4                        1  United States  California  ...
...                    ...            ...         ...  ...
7038                     0  United States  California  ...
7039                     2  United States  California  ...
7040                     2  United States  California  ...
7041                     2  United States  California  ...
7042                     0  United States  California  ...

     Total Extra Data Charges  Total Long Distance Charges  Total Revenue  \
0                          20                         0.00          59.65
1                           0                       390.80        1024.10
2                           0                       203.94        1910.88
3                           0                       494.00        2995.07
4                           0                       234.21        3102.36
...                       ...                          ...            ...
7038                        0                      1639.44        3039.53
7039                        0                       865.20        2807.47
7040                        0                      2135.52        9453.04
7041                        0                         0.00         319.21
7042                        0                      2043.36        8887.86

      Satisfaction Score  Customer Status Churn Label Churn Score  CLTV  \
0                      3          Churned         Yes          91  5433
1                      3          Churned         Yes          69  5302
2                      2          Churned         Yes          81  3179
3                      2          Churned         Yes          88  5337
4                      2          Churned         Yes          67  2793
...                  ...              ...         ...         ...   ...
7038                   5           Stayed          No          45  5306
7039                   3           Stayed          No          59  2140
7040                   4           Stayed          No          71  5560
7041                   4           Stayed          No          59  2793
7042                   4           Stayed          No          38  5097

       Churn Category                  Churn Reason
0          Competitor  Competitor offered more data
1          Competitor  Competitor made better offer
2          Competitor  Competitor made better offer
3     Dissatisfaction     Limited range of services
4               Price            Extra data charges
...               ...                           ...
7038              NaN                           NaN
7039              NaN                           NaN
7040              NaN                           NaN
7041              NaN                           NaN
7042              NaN                           NaN

[7043 rows x 50 columns]>

In [3]:
df.shape

(7043, 50)

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 50 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   str
 1   Gender                             7043 non-null   str
 2   Age                                7043 non-null   int64
 3   Under 30                           7043 non-null   str
 4   Senior Citizen                     7043 non-null   str
 5   Married                            7043 non-null   str
 6   Dependents                         7043 non-null   str
 7   Number of Dependents               7043 non-null   int64
 8   Country                            7043 non-null   str
 9   State                              7043 non-null   str
 10  City                               7043 non-null   str
 11  Zip Code                           7043 non-null   int64
 12  Latitude                           7043 non-null   float64
 13  Longitude                          7043 non-null   float64
 14  Population                         7043 non-null   int64
 15  Quarter                            7043 non-null   str
 16  Referred a Friend                  7043 non-null   str
 17  Number of Referrals                7043 non-null   int64
 18  Tenure in Months                   7043 non-null   int64
 19  Offer                              3166 non-null   str
 20  Phone Service                      7043 non-null   str
 21  Avg Monthly Long Distance Charges  7043 non-null   float64
 22  Multiple Lines                     7043 non-null   str
 23  Internet Service                   7043 non-null   str
 24  Internet Type                      5517 non-null   str
 25  Avg Monthly GB Download            7043 non-null   int64
 26  Online Security                    7043 non-null   str
 27  Online Backup                      7043 non-null   str
 28  Device Protection Plan             7043 non-null   str
 29  Premium Tech Support               7043 non-null   str
 30  Streaming TV                       7043 non-null   str
 31  Streaming Movies                   7043 non-null   str
 32  Streaming Music                    7043 non-null   str
 33  Unlimited Data                     7043 non-null   str
 34  Contract                           7043 non-null   str
 35  Paperless Billing                  7043 non-null   str
 36  Payment Method                     7043 non-null   str
 37  Monthly Charge                     7043 non-null   float64
 38  Total Charges                      7043 non-null   float64
 39  Total Refunds                      7043 non-null   float64
 40  Total Extra Data Charges           7043 non-null   int64
 41  Total Long Distance Charges        7043 non-null   float64
 42  Total Revenue                      7043 non-null   float64
 43  Satisfaction Score                 7043 non-null   int64
 44  Customer Status                    7043 non-null   str
 45  Churn Label                        7043 non-null   str
 46  Churn Score                        7043 non-null   int64
 47  CLTV                               7043 non-null   int64
 48  Churn Category                     1869 non-null   str
 49  Churn Reason                       1869 non-null   str
dtypes: float64(8), int64(11), str(31)
memory usage: 2.7 MB